* {
  margin: 0;
}

html,
body {
  --grey: #e0e0e5;
  --black: #1f1f23;
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background: url("images/background.svg") no-repeat center/cover;
  width: 100vw;
  min-height: 812px;
  height: 100vh;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

/* ">" serve para pegar a imagem do primeiro nível, ou seja, mudar as propriedades apenas da foto, no caso */
/* object-fit - preencher o espaço de width e height com a imagem, caso a imagem não tenha o mesmo tamanho do que definimos */
.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.avatar #selo {
  animation: rotation 15s infinite linear;
  -webkit-animation: rotation 15s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

/* Versão Desktop */
@media (min-width: 960px) {
  body {
    background-color: #121214;
    background-image: url("images/degrade-fundo.png");
    background-repeat: no-repeat;
    background-position-x: 50%;
  }
  main {
    width: 22.5rem;
    min-height: 540px;
    height: fit-content;
    position: absolute;
    top: 8.75rem;
    transition: 0.5s;
    box-shadow: #000 0px 20px 30px;
  }
  .faixa {
    background: url("images/faixa.svg") no-repeat;
    width: 4rem;
    height: 10rem;
    position: absolute;
    top: -8.75rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .quebra {
    width: 5rem;
    height: 0.5rem;
    background-color: #121214;
    margin: 1rem auto 0;
  }

  .avatar {
    margin: 5rem auto 0;
  }

  ul {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
  }
  ul li:hover,
  a:hover {
    transform: scale(1.1);
    transition: 0.2s;
  }
}
